body{
    background-color: darkslategrey;
    color: white;
    margin: 0 0;
    font-size : 10px;
}

.container{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
    /* margin-left: 30px; */
}

.buttons{
    display: flex;
    margin: 0px 5px;
    justify-content: space-around;
}

.slidesNon { 
    display: none;
}

.items{
    margin: 1px 1px;
    width: 19vw;
    min-height : 45vh ;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
